<!-- app/views/sessions/new.html.erb -->
<div class="row">
  <div class="container">
    <%= form_tag '/admin/login',class: "frm-login" do %>
        <div class="heading text-center">
          <%= render 'includes/flash_msg' %>
          <span class="text-bold text-center">Đăng nhập Admin</span>
        </div>
        <div class="form-group">
          <label for="input-email">Username</label>
          <%= text_field_tag :username,nil, class: 'form-control text-control', placeholder: 'Username' %>
        </div>
        <div class="form-group">
          <label for="input-password">Mật khẩu</label>
          <%= password_field_tag :password,nil, class: 'form-control text-control', placeholder: 'Password' %>
        </div>
        <div class="form-group text-center">
          <%= submit_tag "Submit", 'class' => 'btn btn-default btn-login' %>
        </div>
    <% end %>
  </div>
</div>
