<div class="panel panel-default">
  <div class="panel-heading">
  </div>

  <div class="panel-body">
    <%= form_for(@content) do |f| %>
        <% if @content.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

              <ul>
                <% @content.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">
          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title, :class => 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :description %><br>
            <%= f.text_field :description,:class => 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :content %><br>
            <%= f.text_area :content, rows: 8,:class => 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :status %><br>
            <%= f.select(:status, [['Active',1],['Inactive',0]], {include_blank: 'Status'}, { :class => 'form-control'}) %>
          </div>
          <div class="field">
            <%= f.label :type %><br>
            <%= f.select(:type, [['Bai Viet',1],['FAQ',2],['Meo Vat',3]], {include_blank: 'Status'}, { :class => 'form-control'}) %>
          </div>
        </div>


        <div class="actions">
          <%= f.submit 'Submit',:class => 'btn btn-default' %>
        </div>
    <% end %>
  </div>
</div>

