<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @content.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @content.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @content.type %>
</p>

<%= link_to 'Edit', edit_admin_content_path(@content) %> |
<%= link_to 'Back', admin_content_path %>
