.row.banner-contact
  .container.text-left
    %img{:src => "#{image_url('banner-contact.png')}"}/
.clearfix
.row
  .container
    .contact
      .heading.text-center
        %span.text-bold.text-center
          Vui lòng điền mẫu thông tin dưới đây nếu bạn có nhu cầu liên hệ với chúng tôi
      = form_for @contact, :html => {:class => 'form-horizontal frm-contact'} do |f|
        = render 'error_messages', object: @contact
        = render 'includes/flash_msg'
        .form-group
          %label{:for => "input-fullname"} Fullname
          = f.text_field :fullname, :class => 'form-control', :placeholder => 'Fullname', :required => 'required'
        .form-group
          %label{:for => "input-email"} Email address
          = f.text_field :email, :class => 'form-control', :placeholder => 'Email', :required => 'required'
        .form-group
          %label{:for => "input-address"} Address
          = f.text_field :address, :class => 'form-control', :placeholder => 'Address', :required => 'required'
        .form-group
          %label{:for => "input-phone"} Phone
          = f.text_field :phone, :class => 'form-control', :placeholder => 'Phone', :required => 'required'
        .form-group
          %label{:for => "input-content"} Content
          = f.text_area :content, :class => 'form-control', :rows => 10,:placeholder => 'Content', :required => 'required'
        .form-group.text-right
          = f.submit 'Gửi',:class => 'btn btn-danger btn-contact'
      %p.hint-contact.text-center
        Sau khi bạn gửi form này, chúng tôi sẽ gửi email đến địa chỉ của bạn.
        %br/
        Bạn vui lòng chờ để chúng tôi xử lý yêu cầu của bạn.
      .info
        .row.text-center
          .col-sm-3
          .col-sm-10.item
            %img{:src => "#{image_url('icon-hotline.png')}"}/
            .head.text-bold Hotline
            .detail
              %span Hotline: 1900 1255
              %span Điện thoại: (04) 3 537 8820
          .col-sm-10.item
            %img{:src => "#{image_url('icon-email.png')}"}/
            .head.text-bold Email
            .detail
              %span Hotline: 1900 1255
              %span Điện thoại: (04) 3 537 8820
          .col-sm-10.item
            %img{:src => "#{image_url('icon-address.png')}"}/
            .head.text-bold Trụ sở chính
            .detail
              %span Hotline: 1900 1255
              %span Điện thoại: (04) 3 537 8820
          .col-sm-3
