<div class="row banner-contact">
  <div class="container text-left">
    <img src="<%= image_url('banner-contact.png') %>">
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="container">
    <div class="contact">
      <div class="heading text-center">
        <span class="text-bold text-center">
            Vui lòng điền mẫu thông tin dưới đây nếu bạn có nhu cầu liên hệ với chúng tôi
        </span>
      </div>
      <%= form_for @contact, :html => {:class => 'form-horizontal frm-contact'} do |f| %>
          <%= render 'error_messages', object: @contact %>
          <%= render 'includes/flash_msg' %>
          <div class="form-group">
            <label for="input-fullname">Fullname</label>
            <%= f.text_field :fullname, :class => 'form-control', :placeholder => 'Fullname', :required => 'required' %>
          </div>

          <div class="form-group">
            <label for="input-email">Email address</label>
            <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email', :required => 'required' %>
          </div>

          <div class="form-group">
            <label for="input-address">Address</label>
            <%= f.text_field :address, :class => 'form-control', :placeholder => 'Address', :required => 'required' %>
          </div>

          <div class="form-group">
            <label for="input-phone">Phone</label>
            <%= f.text_field :phone, :class => 'form-control', :placeholder => 'Phone', :required => 'required' %>
          </div>

          <div class="form-group">
            <label for="input-content">Content</label>

            <%= f.text_area :content, :class => 'form-control', :rows => 10,:placeholder => 'Content', :required => 'required' %>
          </div>
          <div class="form-group text-right">
            <%= f.submit 'Gửi',:class => 'btn btn-danger btn-contact' %>
          </div>
      <% end %>
      <p class="hint-contact text-center">Sau khi bạn gửi form này, chúng tôi sẽ gửi email đến địa chỉ của bạn. <br>
        Bạn vui lòng chờ để chúng tôi xử lý yêu cầu của bạn. </p>
      <div class="info">
        <div class="row text-center">
          <div class="col-sm-3"></div>
          <div class="col-sm-10 item">
            <img src="<%= image_url('icon-hotline.png') %>">
            <div class="head text-bold">Hotline</div>
            <div class="detail">
              <span>Hotline: 1900 1255</span>
              <span>Điện thoại: (04) 3 537 8820</span>
            </div>
          </div>
          <div class="col-sm-10 item">
            <img src="<%= image_url('icon-email.png') %>">
            <div class="head text-bold">Email</div>
            <div class="detail">
              <span>Hotline: 1900 1255</span>
              <span>Điện thoại: (04) 3 537 8820</span>
            </div>
          </div>
          <div class="col-sm-10 item">
            <img src="<%= image_url('icon-address.png') %>">
            <div class="head text-bold">Trụ sở chính</div>
            <div class="detail">
              <span>Hotline: 1900 1255</span>
              <span>Điện thoại: (04) 3 537 8820</span>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>