<div class="row banner-faq">
  <div class="container text-left">
    <div class="content">
      <img src="<%= image_url('banner-faq') %>">
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="faq">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs text-center" role="tablist">
        <li role="presentation" class=" tab-faq"><a href="#tab-faq" aria-controls="tab-faq" role="tab" data-toggle="tab">
          <span>Câu hỏi thường gặp</span>
          <span class="icon"></span>
        </a></li>
        <li role="presentation" class="active tab-tut"><a href="#tab-tut" aria-controls="tab-tut" role="tab" data-toggle="tab">
          <span>Mẹo tài chính - tiêu dùng</span>
          <span class="icon"></span>
        </a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="tab-faq">
          <div class="tab-content">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <% stt = 0 %>
              <% @faqs.each do |f| %>
                  <% stt = stt + 1 %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading<%= stt%>">
                      <h4 class="panel-title">
                        <a class="item-collapse" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= stt%>" aria-expanded="false" aria-controls="collapseOne">
                          <span class="icon text-bold">0<%= stt %></span> <%= f.title%> #<%= stt %>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse<%= stt%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <%= f.content%>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="tab-tut">
          <div class="tab-content">
            <div class="panel panel-default">
              <div class="panel-heading text-bold text-center">Bài viết tiêu biểu</div>
              <div class="panel-body">
                <div class="list-group">
                  <% @articles.each do |a| %>
                      <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                          <span class="heading text-bold"><a href=""><%= a.title %></a></span>
                          <span class="time"><%= a.created_at %></span>
                        </h4>
                        <div class="list-group-item-text">
                          <div class="row">
                            <div class="col-sm-9">
                              <a href=""> <img class="img-responsive" src="<%= image_url('image-tut.png') %>"></a>
                            </div>
                            <div class="col-sm-27">
                              <div class="desc"><%= a.description %>
                              </div>
                            </div>
                            <a href="" class="view-more btn btn-primary">Xem thêm <i class="glyphicon glyphicon-triangle-right"></i></a>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="text-center">
              <div class="pagination">
                <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>