.panel.panel-default
  .panel-heading
  .panel-body
    = form_for @contract, url: {action: "update"} do |f|
      - if @contract.errors.any?
        #error_explanation
          %h2
            = pluralize(@contract.errors.count, "error")
            prohibited this content from being saved:
          %ul
            - @contract.errors.full_messages.each do |message|
              %li= message
      .form-group
        .field
          = f.label 'Ngay vay'
          %br
          = f.text_field :created_at, :class => 'form-control', :disabled => 'disabled'
        .field
          = f.label 'Ma HD vay'
          %br
          = f.text_field :code, :class => 'form-control', :disabled => 'disabled'
        .field
          = f.label 'So tien'
          %br
          = f.text_field :value, :class => 'form-control', :disabled => 'disabled', :value => "#{num_currency(@contract.value)}"
        .field
          = f.label 'Thoi han vay'
          %br
          %input{:type => "text", :value => "#{Drawdown.get_amount_time(@contract.deadline)}", :disabled => 'disabled', :class => 'form-control'}
        .field
          = f.label 'So tien da thanh toan'
          %br
          %input{:type => "text", :value => "#{num_currency(@contract.paid)}",:disabled => 'disabled', :class => 'form-control'}
        .field
          = f.label 'So tien Phat'
          %br
          %input{:type => "text", :value => "#{num_currency(@contract.penance)}",:disabled => 'disabled',:class => 'form-control'}
        .field
          = f.label 'So Du No'
          %br
          %input{:type => "text", :value => "#{num_currency(@contract.debt)}",:disabled => 'disabled',:class => 'form-control'}
        .field
          = f.label 'Status'
          %br
          %select.form-control{:name => "contract[status]",:class => 'form-control'}
            %option{:value => 0, :selected => @contract.status == 0} Chấp nhận đề nghị vay
            %option{:value => 1, :selected => @contract.status == 1} Cho xử lý
            %option{:value => 2, :selected => @contract.status == 2} Không chấp nhận đề nghị vay
            %option{:value => 3, :selected => @contract.status == 3} Đã ký HĐ chờ giải ngân
            %option{:value => 4, :selected => @contract.status == 4} Đã giải ngân
            %option{:value => 5, :selected => @contract.status == 5} Đã tất toan
        .actions
          = f.submit 'Submit',:class => 'btn btn-default'

