<div class="container">
  <div class="row">
    <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Drawdowns - <%= @drawdown.user.name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-36 col-lg-36 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>Nơi làm việc:</td>
                  <td><%= @drawdown.sponsor.name %></td>
                </tr>
                <tr>
                  <td>Thời hạn :</td>
                  <td><%= Drawdown.get_contract_date(@drawdown.contract_date) %></td>
                </tr>
                <tr>
                  <td>Hiệu lực </td>
                  <td><%= @drawdown.contract_time %></td>
                </tr>
                <tr>
                <tr>
                  <td>Hợp đồng lao động</td>
                  <td><% if @drawdown.media_contract_id != nil %> <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-contact">View</button> | <a class="btn btn-danger btn-sm" href="<%= Medium.find(@drawdown.media_contract_id).path.url(:original, false) %>" download>Download</a><% end %></td>
                </tr>
                <tr>
                  <td>Chức vụ</td>
                  <td><%= Drawdown.get_position(@drawdown.position) %></td>
                </tr>
                <tr>
                  <td>Quyết định bổ nhiệm</td>
                  <td><% if @drawdown.media_appoint_id != nil %> <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-appoint">View</button> | <a class="btn btn-danger btn-sm" href="<%= Medium.find(@drawdown.media_appoint_id).path.url(:original, false) %>" download>Download</a><% end %></td>
                </tr>
                <tr>
                  <td>Quyết định bổ nhiệm có trong HĐLĐ không?</td>
                  <td><%= Drawdown.get_appoint_in_contact(@drawdown.appoint_in_contact) %></td>
                </tr>
                <tr>
                  <td>Mức lương</td>
                  <td><%= num_currency(@drawdown.salary) %></td>
                </tr>
                <tr>
                  <td>Sao kê bảng lương</td>
                  <td><% if @drawdown.media_salary_id != nil %> <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-appoint">View</button> | <a class="btn btn-danger btn-sm" href="<%= Medium.find(@drawdown.media_salary_id).path.url(:original, false) %>" download>Download</a><% end %></td>
                </tr>
                <tr>
                  <td>Số tiền </td>
                  <td><%= num_currency(@drawdown.amount) %></td>
                </tr>

                <tr>
                  <td>Thời hạn </td>
                  <td><%= Drawdown.get_amount_time(@drawdown.amount_time) %></td>
                </tr>

                <tr>
                  <td>Mục đích vay</td>
                  <td><%= @drawdown.purpose %></td>
                </tr>

                <tr>
                  <td>Ngày thanh toán hàng </td>
                  <td><%= @drawdown.pay_time %></td>
                </tr>

                <tr>
                  <td>Chủ tài </td>
                  <td><%= @drawdown.account_holders %></td>
                </tr>

                <tr>
                  <td>Số tài khoản</td>
                  <td><%= @drawdown.account_number %></td>
                </tr>

                <tr>
                  <td>Ngân hàng</td>
                  <td><%= @drawdown.bank.name %></td>
                </tr>

                <tr>
                  <td>Chi nhánh</td>
                  <td><%= @drawdown.branch.name %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% if Contract.find_by_drawdowns_id(@drawdown).status == 1 %>
          <div class="panel-footer">
              <a data-original-title="Broadcast Message" onclick="accept_drawdowns(<%= @drawdown.id %>,'<%= admin_drawdown_accept_drawdowns_path(@drawdown) %>')" title="Duyệt vay vốn" data-toggle="tooltip" type="button" class="btn btn-lg btn-success">Duyệt Hồ Sơ</a>
              <a data-original-title="Remove this user" onclick="un_accept_drawdowns(<%= @drawdown.id %>,'<%= admin_drawdown_un_accept_drawdowns_path(@drawdown) %>')" title="Không duyệt" data-toggle="tooltip" type="button" class="btn btn-lg btn-danger">Không Duyệt Hồ Sơ </a>
          </div>
        <% else %>
            <div class="alert alert-info">
              <strong><%= Contract.get_status(Contract.find_by_drawdowns_id(@drawdown).status) %></strong>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'admin/drawdowns/modal' %>