= render 'includes/flash_msg'
.col-lg-6
  = form_for @user,:url => admin_user_path, html: {multipart: true,class: "nifty_form"} do |f|
    .form-group
      = label_tag(:email, "Email")
      - if @user.by_social == 0 && @user.change_email == 1
        = f.text_field :email, :class => 'form-control', :disabled => 'disabled'
      - else
        = f.text_field :email, :class => 'form-control',:disabled => 'disabled'
    .form-group
      = label_tag(:password, "Mat Khau")
      = f.password_field :password, :class => 'form-control'
    .form-group
      = label_tag(:name, "Ho Ten")
      = f.text_field :name, :class => 'form-control', :pattern => '.{3,}', :title => '3 characters minimum', :readonly => 'readonly'
    .form-group
      = label_tag(:name, "Birthday")
      %select{:name => "date[day]", :readonly => "readonly"}
        %option Day
        - (1..31).each do |i|
          %option
          - if @day.to_i == i
            = selected
          value="#{i}"&gt;#{i}
    %select{:name => "date[month]", :readonly => "readonly"}
      %option Month
      - (1..12).each do |i|
        %option
        - if @month.to_i == i
          = selected
        value="#{i}"&gt;#{i}
  %select{:name => "date[year]", :readonly => "readonly"}
    %option Year
    - (Time.now.year - 100..Time.now.year).each do |i|
      %option
      - if @year.to_i == i
        = selected
      value="#{i}"&gt;#{i}
