<div class="row banner-account">
  <div class="container text-left">
    <div class="content">
      <%= image_tag 'banner-account.png' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="account">
      <!-- Nav tabs -->
      <%= render 'includes/nav_tab_account', active: 'info_account' %>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="tab-account">
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-drawdown">
        </div>
        <div role="tabpanel" class="tab-pane active" id="tab-information">
          <div class="tab-content">
            <div class="heading list text-bold">Chi tiết thông tin khoản vay</div>
            <div class="list">
              <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                  <thead>
                  <tr>
                    <td>Ngày vay</td>
                    <td>Số HĐ vay</td>
                    <td>Số tiền</td>
                    <td>Thời hạn</td>
                    <td>Trạng thái</td>
                    <td>Số tiền đã TT</td>
                    <td>Số tiền phạt</td>
                    <td>Dư nợ</td>
                  </tr>
                  </thead>
                  <tbody>
                  <% @contracts.each do |contract| %>
                  <tr>
                    <% if contract.status.to_i == 99 %>
                        <td><a href="<%= drawdown_path(current_user.id) %>"><%= contract.loans_time %></a></td>
                    <% else %>
                        <td><a class="show-drawdowns" href="<%= show_drawdown_path(contract.drawdowns_id) %>"><%= contract.loans_time %></a></td>
                    <% end %>

                    <% if contract.status.to_i == 99 %>
                        <td></td>
                    <% else %>
                        <td><a class="show-drawdowns" href="<%= show_drawdown_path(contract.drawdowns_id) %>"><%= contract.code %></a></td>
                    <% end %>
                    <td><%= num_currency(contract.value) %></td>
                    <td><%= Drawdown.get_amount_time(contract.deadline) %></td>
                    <td><a class="show-drawdowns" href="<%= show_status_drawdown_path(contract.id) %>"><%= Contract.get_status(contract.status) %></a></td>
                    <td><a class="show-drawdowns" href="<%= show_pay_contract_path(contract.id) %>"><%= num_currency(contract.paid) %></a></td>
                    <td><%= num_currency(contract.penance) %></td>
                    <td><%= num_currency(contract.debt) %></td>
                  </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <a href="<%= info_account_path %>.xls" class="pull-right btn btn-primary btn-export">Xuất ra Excel</a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-36">
                <div class="list-history status">
                  <div class="heading text-bold">Lịch sử trạng thái</div>
                  <div class="content">
                    <ul>
                    <% @historys.each do |history| %>
                      <% if history.status_contract != 88 %>
                        <li><span class="text-bold">Ngày <%= history.created_at %></span>: <%= Contract.get_status(history.status_contract)%></li>
                      <% end %>
                    <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-36">
                <div class="list-history payment">
                  <div class="heading text-bold">Lịch sử thanh toán</div>
                  <div class="content">
                    <ul>
                      <% @historys.each do |history| %>
                          <% if history.status_contract == 88 %>
                              <li><span class="text-bold"><%= history.created_at %></span>: Thanh toán <%= num_currency(history.orgin_rate) %> gốc, <%= num_currency(history.interest_rate) %> lãi </li>
                          <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane " id="tab-notification">
          <div class="tab-content">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>