%div{:style => "height: 20px"}
.tab-content
  = form_for @drawdown, url: {action: "show_drawdowns"}, html: {class: "form-horizontal frm-drawdown", multipart: true} do |item|
    = render 'includes/flash_msg'
    .row
      .col-sm-36
        - if @drawdown.errors.any?
          .alert.alert-danger
            The form contains #{pluralize(@drawdown.errors.count, "error")}.
          %ul
            - @drawdown.errors.full_messages.each do |msg|
              %li= msg
    %input#input-hidden-draft{:name => "draft", :type => "hidden", :value => "1"}
      .row
        .col-sm-36
          .form-group
            %label.col-sm-10.control-label{:for => "input-email"} Ngay lam viec:
            .col-sm-15
              = collection_select(:drawdown, :sponsor_id, @sponsors, :id, :name, {prompt: "Chon noi lam viec"}, { class: "form-control", disabled: 'desabled'})
      .row
        .col-sm-36
          .form-group
            %label.col-sm-10.control-label{:for => "input-fullname"} Thoi han HDLD:
            .col-sm-26
              .row
                .col-sm-12
                  %select.form-control{:name => "drawdown[contract_date]"}
                    %option{:value => 1, :selected => @drawdown.contract_date.to_i == 1.to_i} Từ 1 đến 3 năm.
                    %option{:value => 2, :selected => @drawdown.contract_date.to_i == 2.to_i} Từ 6 tháng đến 1 năm.
                    %option{:value => 3, :selected => @drawdown.contract_date.to_i == 3.to_i} Dưới 6 tháng.
                    %option{:value => 4, :selected => @drawdown.contract_date.to_i == 4.to_i} Trên 3 năm/Không xác định thời hạn.
                    %option{:value => 5, :selected => @drawdown.contract_date.to_i == 5.to_i} Làm việc tại DN người cùng tham gia trả nợ sở hữu.
      .col-sm-9
        %input#media_contract_id.hide{:name => "media_contract_id", :type => "file"}
          %input.btn-upload-file.btn.btn-primary.btn.btn-hdld{:name => "",:value => "Upload HDLD"}
        .col-sm-15
          %span.hint-hdld Ch&#x1EC9; c&#x1EA7;n c&#xE1;c trang c&#xF3;: T&#xEA;n, ch&#x1EEF; k&#xFD;, th&#x1EDD;i h&#x1EA1;n HDLD, ch&#x1EE9;c v&#x1EE5;, m&#x1EE9;c l&#x1B0;&#x1A1;ng (N&#x1EBF;u c&#xF3;)
